Explainer GPT Notfier.json
{
    "name": "Explainer GPT Notifier",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2315929,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Explainer GPT webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "gptname",
                        "type": "text"
                    },
                    {
                        "name": "history",
                        "spec": {
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "text"
                                },
                                {
                                    "name": "content",
                                    "type": "text"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:ComposeTransformer",
            "version": 1,
            "parameters": {},
            "mapper": {
                "value": "<p>{{join(map(1.history; \"content\"); \"</p><p>\")}}</p>"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {},
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "markdown:Compile",
            "version": 2,
            "parameters": {},
            "mapper": {
                "gfm": true,
                "svg": false,
                "data": "{{9.value}}",
                "html": true,
                "mathM1": false,
                "sanitize": true,
                "wholeDocument": false,
                "sanitizeOutputType": "PROFILED_HTML"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "gfm": {
                            "mode": "chose"
                        },
                        "svg": {
                            "mode": "chose"
                        },
                        "html": {
                            "mode": "chose"
                        },
                        "mathM1": {
                            "mode": "chose"
                        },
                        "sanitize": {
                            "mode": "chose"
                        },
                        "addedAttr": {
                            "mode": "chose"
                        },
                        "addedTags": {
                            "mode": "chose"
                        },
                        "forbiddenAttr": {
                            "mode": "chose"
                        },
                        "forbiddenTags": {
                            "mode": "chose"
                        },
                        "wholeDocument": {
                            "mode": "chose"
                        },
                        "sanitizeOutputType": {
                            "mode": "chose",
                            "label": "Predefined Profiles"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "data",
                        "type": "text",
                        "label": "Markdown"
                    },
                    {
                        "name": "gfm",
                        "type": "boolean",
                        "label": "GitHub Flavored Markdown",
                        "required": true
                    },
                    {
                        "name": "sanitize",
                        "type": "boolean",
                        "label": "Sanitize",
                        "required": true
                    },
                    {
                        "name": "sanitizeOutputType",
                        "type": "select",
                        "label": "Output Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "PROFILED_HTML",
                                "PREDEFINED_TAGS_ATTR"
                            ]
                        }
                    },
                    {
                        "name": "forbiddenTags",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Forbidden Tags"
                    },
                    {
                        "name": "forbiddenAttr",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Forbidden Attributes"
                    },
                    {
                        "name": "addedTags",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Extended List of Allowed Tags"
                    },
                    {
                        "name": "addedAttr",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Extended List of Allowed Attributes"
                    },
                    {
                        "name": "wholeDocument",
                        "type": "boolean",
                        "label": "Return Entire Document Including html <tags>",
                        "required": true
                    },
                    {
                        "name": "html",
                        "type": "boolean",
                        "label": "HTML",
                        "required": true
                    },
                    {
                        "name": "svg",
                        "type": "boolean",
                        "label": "SVG",
                        "required": true
                    },
                    {
                        "name": "mathM1",
                        "type": "boolean",
                        "label": "Math ML",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 8136307
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "yout@email.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "<p>A user has sent a conversation they had with an Explainer GPT:</p>\n<br />\n<p>GPT this came from: {{1.gptname}}\n<br />\n<br />\n{{10.data}}",
                                "subject": "New lead from Intake GPT",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "messageId",
                                        "type": "text",
                                        "label": "Message ID"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "google-docs:createADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 8169245
                            },
                            "mapper": {
                                "name": "{{1.gptname}}Conversation {{formatDate(now; \"DD-MM-YYYY HH:mm\")}}",
                                "footer": false,
                                "header": false,
                                "content": "Conversation from GPT Name: {{1.gptname}}\n\nChat Log:\n\n{{10.data}}",
                                "folderId": "/12KDwT0LC6hWv6SbbXZkVP1fY_BTSn9qh/1zND8KXuxjZ_yLyoFO7nyxOirH_zLWbS9",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "YouTube AI Channel",
                                                "Explainer GPT Conversations"
                                            ]
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "header",
                                        "type": "boolean",
                                        "label": "Insert a Header",
                                        "required": true
                                    },
                                    {
                                        "name": "footer",
                                        "type": "boolean",
                                        "label": "Insert a Footer",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Document's Location",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}